@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/Roboto/Roboto-VariableFont_wdth,wght.ttf');
}

html{
  --accent1: #b4788c;
  --accent2: #2d498b;
  --l_black_bg: #22222220;
  --l_gray_bg: #99999920;
  --l_white_bg: #99999960;
  --glass_bg: #ffffff50;
  --white: #f8fafc;
  --dark_bg: #222;

  --green: #4ADE80;
  --yellow: #FBBF24;
  --red: #F87171;

  scroll-behavior: smooth;
}

body{
  background-image: url("assets/gradient-figure.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 45%;
  background-color: var(--dark_bg);
  color: var(--white);
  overflow: clip;
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

strong{
  font-weight: 900;
}

.appContent{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  height: 100dvh;
}

#sidebar{
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px 10px;
  z-index: 9999;
}

#sidebar h1{
  width: 100%;
  padding: 20px;
  border: solid 1px var(--glass_bg);
  text-align: center;
  font-size: 30px;
  border-radius: 20px;
}

#answer{
  height: 100%;
  border: solid 1px var(--glass_bg);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  backdrop-filter: blur(20px);
}

.sidebarEl{
  width: 100%;
  padding: 20px;
  border: solid 1px var(--glass_bg);
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.sidebarEl button, #distances button{
  width: 100%;
  padding: 10px 0;
  background-image: linear-gradient(155deg, var(--accent1), var(--accent2));
  border-radius: 20px;
}

#workspaceWrapper{
  display: grid;
  grid-template-rows: 150px 1fr;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#bgImagePicker{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 20px;
  border: solid 1px var(--glass_bg);
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  overflow-x: scroll;
}

#bgImagePicker button{
  height: 100%;
  min-width: 200px;
  border: solid 1px var(--glass_bg);
  text-align: center;
  border-radius: 20px;
  overflow: clip;
}

#bgImagePicker{
  -moz-appearance: textfield;
  appearance: none;
  background: transparent;
}

#bgImagePicker::-webkit-scrollbar { 
  display: none; 
}

.bgEditor{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  background-color: var(--dark_bg);
  padding: 20px;
  border-radius: 20px;
  border: solid 1px var(--glass_bg);
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 9999;
}

#workspace{
  width: 100%;
  height: 100%;
  background-color: var(--dark_bg);
  border: solid 1px var(--glass_bg);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  overflow: clip;
}

#bgImg {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#bgImg[src] {
   display: block;
 }

.roundMenu{
  background-color: var(--dark_bg);
  padding: 10px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  gap: 20px;
  border-radius: 999px;
  border: solid 1px var(--glass_bg);
  z-index: 9999;
}

#activeTool{
  padding: 10px;
  top: 0;
  left: 20px;
  position: absolute;
  height: 100%;
  aspect-ratio: 1;
  background-color: var(--accent1);
  border-radius: 999px;
  z-index: 1;
}

#bgEdit{
  right: 20px;
  left: unset;
}

.node{
  width: 32px;
  aspect-ratio: 1;
  border: solid 1px var(--glass_bg);
  background-color: var(--l_gray_bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  backdrop-filter: blur(5px);
}

#contextMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  background-color: var(--l_gray_bg);
  border-radius: 20px;
  border: solid 1px var(--glass_bg);
}

#contextMenu .defBtn, #contextMenu .delBtn{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contextMenu .defBtn:hover{
  background-color: var(--l_white_bg);
  border-radius: 20px;
}

.delBtn:hover{
  background-color: var(--red);
  border-radius: 20px;
}

.link{
  height: 2px;
  background-image: linear-gradient(90deg, var(--accent1), var(--accent2));
}

.link:hover{
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% { filter: drop-shadow(0 0 2px var(--accent1)); }
  50% { filter: drop-shadow(0 0 5px var(--accent2)); }
  100% { filter: drop-shadow(0 0 2px var(--accent1)); }
}

#modalLinks{
  background-color: var(--l_gray_bg);
  border-radius: 20px;
  border: solid 1px var(--glass_bg);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}

#modalLinks h1{
  text-align: center;
  font-size: 30px;
}

#modalLinks p{
  text-align: center;
}

.linkEditorDataEl{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: solid 1px var(--glass_bg);
  border-radius: 20px;
}

.weightInputField{
  width: 70px;
  padding: 0 20px;
  border-radius: 999px;
  background-color: var(--l_black_bg);
  border: 1px solid var(--glass_bg);
}

input[type=number]{
  -moz-appearance: textfield;
  appearance: none;
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, var(--accent1), var(--accent2));
  height: 6px;
  border-radius: 3px;
}

/* Кружочек (thumb) */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background: var(--white);
  border-radius: 50%;
  margin-top: -5px;
  box-shadow: 0 0 10px var(--accent1);
}

.ghostText{
  color: var(--l_white_bg)
}

.tableWrapper{
  border-radius: 20px;
  padding: 20px;
  border: solid 1px var(--glass_bg);
}

#answer{
  overflow-y: scroll;
  scrollbar-width: none;
}

#answer::-webkit-scrollbar {
  display: none; 
}

#answer table{
  width: 100%;
}

thead{
  border-bottom: solid 1px var(--glass_bg);
}

tr td:first-child, tr th:first-child{
  border-right: solid 1px var(--glass_bg);
}

#resultField{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

#startField{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

#startField label{
  color: var(--white);
}

#startField input, #distances input{
  width: 50px;
  background-color: var(--l_black_bg);
  border: solid 1px var(--glass_bg);
  padding: 5px 10px;
  border-radius: 20px;
}

#distances input{
  width: 100%;
}

#distances{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
  border: solid 1px var(--glass_bg);
}

.distance{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#path2point{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#path2point h2{
  letter-spacing: 10px;
}